.movieContainer{
    display: flex;
    position: relative;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

   
.movieContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(5,7,12,0.5),rgba(5,7,12,0.5) );
}


.movDetails{
 
    max-width: 80rem;
    position: relative;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 1rem;
    gap: 4rem;
 
}

.details h3{
    font-size: 1.2rem;
    color: white;
    text-align: center;
   
}

.imgDetails{
    max-width: 15rem;
    border-radius: 1rem;
}

.details{
    width: 25rem;
}

.details p{
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width:992px) {

    .movDetails{
 
        max-width: 80rem;
        gap: 4rem;
     
    }
    
    .details h3{
        font-size: 1.2rem;
        color: white;
        text-align: center;
       
    }
    
    .imgDetails{
        max-width: 13rem;
    }
    
    .details{
        width: 18rem;
    }

}


@media (max-width:768px) {

    .movDetails{
 
        max-width: 50rem;
        margin: 4rem;
        gap: 3rem;
     
    }
    
    .details h3{
        font-size: 1rem;
        color: white;
        text-align: center;
       
    }
    
    .imgDetails{
        max-width: 10rem;
    }
    
    .details{
        width: 12rem;
    }
    
    .details p{
        color: white;
        font-size: 0.8rem;
        font-weight: 400;
    }
}

@media (max-width:576px) {

    .movDetails{
 
        max-width: 50rem;
        margin: 3rem;
        gap: 0.1rem;
     
    }
    
    .details h3{
        font-size: 1.1rem;
    }
    
    .imgDetails{
        max-width: 14rem;
    }
    
    .details{
        width: 15rem;
    }
    
    .details p{
        color: white;
        font-size: 0.9rem;
        font-weight: 400;
    }
}