
.movDetails{

    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}



h3{
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.imgDetails{

    width: 300px;
    height: auto;
    border-radius: 20px;
}

.details{
    width: 350px;
    height: auto;
}

@media screen and (max-width:600px) {

    .movDetails{
        margin-top: 100px;
        gap: 20px;
    }

    .imgDetails{
        width: 85%;
        height: auto;
    }
    .details{
        width: 400px;
        padding: 30px;
        font-size: 0.8rem;
    
    }

    h3{
        font-size: 1rem;
    }
}