.movieContainer{
    display: flex;
    position: relative;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.movDetails{
 
    width: 60%;
    position: relative;
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 1rem;
    gap: 4rem; 
 
}

.details h3{
    font-size: 2rem;
    color: white;
    text-align: center;
}

.imgDetails img{
    width: 100%;
    border-radius: 1rem;
    align-items: center;

}

.details{
    width: 40%;
}

.details p{
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width:900px) {

    .movDetails {
        width: 90%;
        gap: 0.5rem;
        margin: 2rem;

    }
    .imgDetails img{
        width: 70%;
    }
    .details{
        width: 50%;
        
    }

    h3{
        font-size: 1.3rem;
    }

    .details p {
        font-size: 0.8rem;
    }
}

@media (max-width:700px) {

    .movDetails {
        width: 100%;
        gap:0.1rem
    }
    .imgDetails img{
        width: 45%;
    }
    .details{
        width: 35%;
    }

    .details p{
        font-size: 0.6rem;
    }

    h3{
        font-size: 0.9rem;
    }
}

@media (max-width:500px) {

    .movDetails {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .imgDetails {
        width: 80%;
        margin: 0.25rem 1.5rem;
    }
    .imgDetails img{
        width: 100%;
    }
    .details{
        width: 90%;
    }

    .details p{
        font-size: 0.7rem;
    }

    .details h3{
        margin-top: -1rem;
        font-size: 1.5rem;
    }
}