.card{
    text-align: center;
    margin-bottom: 40px;
    position: relative;
   
}

.imgCard{
    border-radius: 10px;
    width: 100%;
    height: hidden;
}

.vote_average{
    position: absolute;
    right: 0;
    bottom: 3px;
    background-color: black;
    padding-left: 20px;
    border-top-left-radius: 40px;
    
}

.vote_average p{
    color: white;
    font-size: 0.9rem;
    padding: 0 10px ;
}

@media (max-width:600px) {

    .imgCard{
        width: 85%;
        height: auto;
    }

    .vote_average{
        right: 25px; 
    }
}