.filter{
    background-color: whitesmoke;
    padding: 5px;
    display: flex;
    justify-items: center;
    justify-content: flex-end;
}

.TextRating span{
    color: rgb(116, 114, 114);
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px;
    margin-right: 10px;
}

.starRating{
    margin-right: 10px; 
}