.container{
    display: flex;
    padding: 0.2rem;
}

.search{
    position: relative;
}

.searchInput{
    padding: 0.28rem 1.7rem 0.28rem 0.7rem;
    border: none;
    border-radius: 1rem;
    font-size: 0.9rem;
    outline: none;
    
}

.searchInput:hover {
    box-shadow: 0 0 8px rgb(178, 150, 243);
}

.searchInput:focus {
    box-shadow: 0 0 8px rgb(178, 150, 243);
}

.searchButton{
    position: absolute;
    height: 100%;
    background: none;
    font-size: 1rem;
    right: 0.2rem;
    border: none;
    color: rgb(95, 8, 112);
}


